
.metadata/
SEProj.edit/
SEProj.editor/
SEProj/bin/
SEProj.ui/bin/

seproj.cal.ide/
seproj.cal.tests/
seproj.cal.ui/
seproj.cal.ui.tests/
seproj.cal/xtend-gen/
seproj.cal/.launch/

.settings/
src-gen/

seproj.cal/.antlr-generator-3.2.0-patch.jar
