<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="SEProj.ui.generateCalendar"
            name="GenCal">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="se.ui.GenerateCalendarSwitch"
            commandId="SEProj.ui.generateCalendar">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Calendar">
            <command
                  commandId="SEProj.ui.generateCalendar"
                  label="Generate Calendar"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="sEProj.VCalendar">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
